
#container {
    max-width:580px;
    min-height: 160px;
    margin: 0 auto;
    display:flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    border:5px;
    border-style: solid;
    border-color: lightgrey ;

}

.squares {
    background-color: black;
    color: antiquewhite;
    min-width: 30px;
    min-height:30px;
    border-style: solid;
    border-color: white;
}

